@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: #594Ed2;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F0F0F0;
}

::-webkit-scrollbar-thumb {
  background-color: #5A84C0;
  border-radius: 8px;
}

pre::-webkit-scrollbar {
  height: 6px;
}
